.contenedor{
    display: grid;
    grid-template-columns: auto 1fr;
}

.contenido{
    height: 100vh;
    padding: 10px 10px 10px 0px;
    overflow-y: scroll;
}

@media screen and (max-width: 480px) {
    .contenedor{
        padding: 0px;
        height: auto;
        grid-template-columns: 1fr;
    }
}